---
# yamllint disable rule:line-length
argument_specs:
  main:
    short_description: "Prometheus SNMP exporter"
    description:
      - "Deploy and manage prometheus L(SNMP exporter,https://github.com/prometheus/snmp_exporter) using ansible."
    author:
      - "Prometheus Community"
    options:
      snmp_exporter_version:
        description: "SNMP exporter package version. Also accepts latest as parameter."
        default: "0.26.0"
      snmp_exporter_skip_install:
        description: "SNMP exporter installation tasks gets skipped when set to true."
        type: bool
        default: false
      snmp_exporter_binary_local_dir:
        description:
          - "Enables the use of local packages instead of those distributed on github."
          - "The parameter masnmp set to a directory where the C(snmp_exporter) binary is stored on the host where ansible is run."
          - "This overrides the I(snmp_exporter_version) parameter"
      snmp_exporter_binary_url:
        description: "URL of the snmp exporter binaries .tar.gz file"
        default: "https://github.com/{{ _snmp_exporter_repo }}/releases/download/v{{ snmp_exporter_version }}/snmp_exporter-{{ snmp_exporter_version }}.linux-{{ go_arch_map[ansible_architecture] | default(ansible_architecture) }}.tar.gz"
      snmp_exporter_checksums_url:
        description: "URL of the snmp exporter checksums file"
        default: "https://github.com/{{ _snmp_exporter_repo }}/releases/download/v{{ snmp_exporter_version }}/sha256sums.txt"
      snmp_exporter_web_listen_address:
        description: "Address on which SNMP exporter will be listening"
        default: "0.0.0.0:9116"
      snmp_exporter_log_level:
        description: "SNMP exporter service log level"
        default: info
      snmp_exporter_config_file:
        description:
          - "If this is empty, role will download snmp.yml file from U(https://github.com/prometheus/snmp_exporter)."
          - "Otherwise this should contain path to file with custom snmp exporter configuration"
      snmp_exporter_binary_install_dir:
        description:
          - "I(Advanced)"
          - "Directory to install snmp_exporter binary"
        default: "/usr/local/bin"
      snmp_exporter_archive_path:
        description: 'Local path to stash the archive and its extraction'
        default: "/tmp"
