---
_ipmi_exporter_go_ansible_arch: "{{ {'i386': '386',
                                 'x86_64': 'amd64',
                                 'aarch64': 'arm64',
                                 'armv7l': 'armv7',
                                 'armv6l': 'armv6'}.get(ansible_architecture, ansible_architecture) }}"
_ipmi_exporter_repo: "prometheus-community/ipmi_exporter"
_github_api_headers: "{{ {'GITHUB_TOKEN': lookup('ansible.builtin.env', 'GITHUB_TOKEN')} if (lookup('ansible.builtin.env', 'GITHUB_TOKEN')) else {} }}"
_ipmi_exporter_binaries: ['ipmi_exporter']
_ipmi_exporter_dependencies: "{{ (ansible_pkg_mgr == 'apt')
                              | ternary((['python-apt'] if ansible_python_version is version('3', '<') else ['python3-apt']),
                              []) + ['freeipmi'] }}"
