---
# yamllint disable rule:line-length
argument_specs:
  main:
    short_description: "Prometheus mongodb_exporter"
    description:
      - "Deploy prometheus L(mongodb exporter,https://github.com/percona/mongodb_exporter) using ansible"
    author:
      - "Prometheus Community"
    options:
      mongodb_exporter_version:
        description: "mongodb_exporter package version. Also accepts latest as parameter."
        default: "0.41.1"
      mongodb_exporter_binary_url:
        description: "URL of the mongodb_exporter binaries .tar.gz file"
        default: "https://github.com/{{ _mongodb_exporter_repo }}/releases/download/v{{ mongodb_exporter_version }}/mongodb_exporter-{{ mongodb_exporter_version }}.{{ ansible_system | lower }}-{{ _mongodb_exporter_go_ansible_arch }}.tar.gz"
      mongodb_exporter_checksums_url:
        description: "URL of the mongodb_exporter checksums file"
        default: "https://github.com/{{ _mongodb_exporter_repo }}/releases/download/v{{ mongodb_exporter_version }}/mongodb_exporter_{{ mongodb_exporter_version }}_checksums.txt"
      mongodb_exporter_web_listen_address:
        description: "Address on which mongodb exporter will listen"
        default: "0.0.0.0:9216"
      mongodb_exporter_web_telemetry_path:
        description: "Path under which to expose metrics"
        default: "/metrics"
      mongodb_exporter_config_dir:
        description: "Path to directory with mongodb_exporter configuration"
        default: "/etc/mongodb_exporter"
      mongodb_exporter_tls_server_config:
        description:
          - "Configuration for TLS authentication."
          - "Keys and values are the same as in L(mongodb_exporter docs,https://github.com/prometheus/exporter-toolkit/blob/master/docs/web-configuration.md)."
        type: "dict"
      mongodb_exporter_http_server_config:
        description:
          - "Config for HTTP/2 support."
          - "Keys and values are the same as in L(mongodb_exporter docs,https://github.com/prometheus/exporter-toolkit/blob/master/docs/web-configuration.md)."
        type: "dict"
      mongodb_exporter_basic_auth_users:
        description: "Dictionary of users and password for basic authentication. Passwords are automatically hashed with bcrypt."
        type: "dict"
      mongodb_exporter_log_level:
        description: "Only log messages with the given severity or above."
        default: "error"
        choices:
          - "debug"
          - "info"
          - "warn"
          - "error"
          - "fatal"
      mongodb_exporter_uri:
        description: "MongoDB connection URI"
        required: true
        type: "str"
      mongodb_exporter_collectors:
        description:
          - "List collectors from L(documantation, https://github.com/percona/mongodb_exporter/blob/main/REFERENCE.md)."
          - "You can specify 'all' to enable all collectors"
      mongodb_exporter_collstats_colls:
        description: "List of databases.collections to get $collStats"
        type: "list"
      mongodb_exporter_indexstats_colls:
        description: "List of databases.collections to get $indexStats"
        type: "list"
      mongodb_exporter_collstats_limit:
        description: "Disable collstats, dbstats, topmetrics and indexstats collector if there are more than <n> collections. 0=No limit"
        type: "int"
        default: 0
      mongodb_exporter_timeout_offset:
        description: "Offset to subtract from the timeout in seconds"
        type: "int"
        default: 1
      mongodb_exporter_profile_time_ts:
        description: "Set time for scrape slow queries"
        type: "int"
        default: 30
      mongodb_exporter_compatible_mode:
        description: "Enable old mongodb-exporter compatible metrics"
        type: bool
        default: false
      mongodb_exporter_discovering_mode:
        description: "Enable autodiscover collections"
        type: bool
        default: false
      mongodb_exporter_direct_connect:
        description: "Whether or not a direct connect should be made. Direct connections are not valid if multiple hosts are specified or an SRV URI is used"
        type: bool
        default: false
      mongodb_exporter_global_conn_pool:
        description: "Use global connection pool instead of creating new pool for each http request"
        type: bool
        default: false
      mongodb_exporter_metrics_overridedescendingindex:
        description: "Enable descending index name override to replace -1 with _DESC"
        type: bool
        default: false
      mongodb_exporter_binary_install_dir:
        description:
          - "I(Advanced)"
          - "Directory to install mongodb_exporter binary"
        default: "/usr/local/bin"
      mongodb_exporter_system_group:
        description:
          - "I(Advanced)"
          - "System group for mongodb_exporter"
        default: "mongodb-exp"
      mongodb_exporter_system_user:
        description:
          - "I(Advanced)"
          - "mongodb_exporter user"
        default: "mongodb-exp"
      mongodb_exporter_local_cache_path:
        description: "Local path to stash the archive and its extraction"
        default: "/tmp/mongodb_exporter-{{ ansible_system | lower }}-{{ _mongodb_exporter_go_ansible_arch }}/{{ mongodb_exporter_version }}"
