{{ ansible_managed | comment }}

[Unit]
Description=Prometheus Process Exporter
After=network-online.target

[Service]
Type=simple
User={{ process_exporter_system_user }}
Group={{ process_exporter_system_group }}
ExecStart={{ process_exporter_binary_install_dir }}/process_exporter \
{% if process_exporter_names != [] -%}
    '--config.path=/etc/process_exporter/config.yml' \
{% endif -%}
    '--web.listen-address={{ process_exporter_web_listen_address }}' \
    '--web.telemetry-path={{ process_exporter_web_telemetry_path }}'

SyslogIdentifier=process_exporter
Restart=always
RestartSec=1
StartLimitInterval=0

{% set ns = namespace(protect_home = 'yes') %}
{% for m in ansible_mounts if m.mount.startswith('/home') %}
{%   set ns.protect_home = 'read-only' %}
{% endfor %}
{% if node_exporter_textfile_dir.startswith('/home') %}
{%   set ns.protect_home = 'read-only' %}
{% endif %}
ProtectHome={{ ns.protect_home }}
NoNewPrivileges=yes

{% if (ansible_facts.packages.systemd | first).version is version('232', '>=') %}
ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes
{% else %}
ProtectSystem=full
{% endif %}

[Install]
WantedBy=multi-user.target
