{{ ansible_managed | comment }}

[Unit]
Description=Prometheus Smartctl Exporter
After=network-online.target

[Service]
Type=simple
User={{ smartctl_exporter_system_user }}
Group={{ smartctl_exporter_system_group }}
ExecStart={{ smartctl_exporter_binary_install_dir }}/smartctl_exporter \
    '--smartctl.path={{ smartctl_exporter_smartctl_path }}' \
    '--smartctl.interval={{ smartctl_exporter_smartctl_interval }}' \
    '--smartctl.rescan={{ smartctl_exporter_smartctl_rescan }}' \
{% for device in smartctl_exporter_smartctl_devices %}
    '--smartctl.device={{ device }}' \
{% endfor %}
    '--smartctl.device-exclude={{ smartctl_exporter_smartctl_device_exclude }}' \
    '--smartctl.device-include={{ smartctl_exporter_smartctl_device_include }}' \
    '--web.listen-address={{ smartctl_exporter_web_listen_address }}' \
    '--web.telemetry-path={{ smartctl_exporter_web_telemetry_path }}' \
{% if smartctl_exporter_tls_server_config | length > 0 or smartctl_exporter_http_server_config | length > 0 or smartctl_exporter_basic_auth_users | length > 0 %}
    '--web.config.file={{ smartctl_exporter_config_dir }}/web_config.yml' \
{% endif %}
    '--log.level={{ smartctl_exporter_log_level }}' \
    '--log.format={{ smartctl_exporter_log_format }}'

SyslogIdentifier=smartctl_exporter
Restart=always
RestartSec=1
StartLimitInterval=0

ProtectHome=yes
NoNewPrivileges=yes

{% if (ansible_facts.packages.systemd | first).version is version('232', '>=') %}
ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes
{% else %}
ProtectSystem=full
{% endif %}

[Install]
WantedBy=multi-user.target
