---
- name: Prepare
  hosts: localhost
  gather_facts: false
  vars:
    # Version needs to be specified here as molecule doesn't have access to ansible_version at this stage
    version: 0.19.0
  tasks:
    - name: Download alertmanager binary to local folder
      become: false
      ansible.builtin.get_url:
        url: "https://github.com/prometheus/alertmanager/releases/download/v{{ version }}/alertmanager-{{ version }}.linux-amd64.tar.gz"
        dest: "/tmp/alertmanager-{{ version }}.linux-amd64.tar.gz"
        mode: 0644
      register: _download_archive
      until: _download_archive is succeeded
      retries: 5
      delay: 2
      check_mode: false

    - name: Unpack alertmanager binaries
      become: false
      ansible.builtin.unarchive:
        src: "/tmp/alertmanager-{{ version }}.linux-amd64.tar.gz"
        dest: "/tmp"
        creates: "/tmp/alertmanager-{{ version }}.linux-amd64/alertmanager"
      check_mode: false

    - name: Link to alertmanager binaries directory
      become: false
      ansible.builtin.file:
        src: "/tmp/alertmanager-{{ version }}.linux-amd64"
        dest: "/tmp/alertmanager-linux-amd64"
        state: link
      check_mode: false
