---
{{ ansible_managed | comment }}

# https://github.com/tykling/dns_exporter/blob/main/src/dns_exporter/dns_exporter_example.yml

snippets:  # this name is not important
  ipv4_2s: &template_v4_2s
    timeout: "2"
    family: "ipv4"

more_reusable_stuff:  # the name of this dict is also not important
  mytemplate: &mytemplate
    timeout: "2"  # query timeout in seconds
    protocol: "udp"  # one of udp, tcp, dot, doh, doq; all these can also be set in scrape request
    valid_rcodes:
      - "NOERROR"  # all RCODEs in the list will be considered valid
    query_name: "example.com"  # can also be set in scrape request
    query_type: "A"  # can also be set in scrape request
    query_class: "IN"  # can also be set in scrape request
    recursion_desired: true  # set False e.g. to test caching on recursors

  slowtemplate: &othertemplate
    <<: *mytemplate
    timeout: "10s"

  v4_example:
    <<: *mytemplate
    family: "ipv4"  # when scrape server is a hostname use ipv4/A instead of AAAA

  validation_kitchensink_example: &kitchensink
    <<: *mytemplate
    validate_response_flags:  # do validation of the response flags
      fail_if_any_present:  # consider request failed if any of these flags are present in the response
        - "AA"
      fail_if_all_present:  # consider request failed if all these flags are present in the response
        - "QR"
        - "AA"
        - "RD"
        - "RA"
      fail_if_any_absent:  # consider request failed if any of these flags are absent from the response
        - "AD"
      fail_if_all_absent:  # consider request failed if any of these flags are absent from the response
        - "AD"
        - "AA"
    validate_answer_rrs:  # do validation of response ANSWER rr
      fail_if_matches_regexp:  # consider request failed if any answer rr matches one of these regexes
        - ".*127.0.0.1"
      fail_if_all_match_regexp:  # consider request failed if all answer rrs match one of these regexes
        - ".*127.0.0.1"
      fail_if_not_matches_regexp:  # consider request failed if any answer rr does not match one of these regexes
        - "www.prometheus.io.\t300\tIN\tA\t127.0.0.1"
      fail_if_none_matches_regexp:  # consider request failed if none of the answer rrs match one of these regexes
        - ".*127.0.0.1"
      fail_if_count_eq: 5  # fail if rr count equals 5
      fail_if_count_ne: 13  # fail if rr count does not equal 13
      fail_if_count_lt: 2  # fail if rr count is smaller than 2
      fail_if_count_gt: 3  # fail if rr count is larger than 3
    validate_authority_rrs:  # do validation of response AUTHORITY rr
      fail_if_matches_regexp:
        - ".*127.0.0.1"
    validate_additional_rrs:  # do validation of response ADDITIONAL rr
      fail_if_matches_regexp:
        - ".*127.0.0.1"


modules:  # this is the only key currently read from the config

  udp: *template_v4_2s

  tcp:
    <<: *template_v4_2s
    protocol: "tcp"

  ipv4:
    <<: *template_v4_2s
    family: "ipv4"

  ipv6:
    <<: *template_v4_2s
    family: "ipv6"

  dot:
    <<: *template_v4_2s
    protocol: "dot"

  doh:
    <<: *template_v4_2s
    protocol: "doh"

  doq:
    <<: *template_v4_2s
    protocol: "doq"

  soa:
    <<: *template_v4_2s
    query_type: "SOA"

  any:
    <<: *template_v4_2s
    query_type: "ANY"

  chaos:
    <<: *template_v4_2s
    query_class: "CHAOS"

  cache:
    <<: *template_v4_2s
    recursion_desired: false

  fast:
    <<: *template_v4_2s
    timeout: "0.5"

  forceip:
    <<: *template_v4_2s
    ip: "192.0.2.53"

  server:
    <<: *template_v4_2s
    server: "doh.example.com"

  noedns:
    <<: *template_v4_2s
    edns: false

  dnssecok:
    <<: *template_v4_2s
    edns_do: true

  nsid:
    <<: *template_v4_2s
    edns_nsid: true

  large:
    <<: *template_v4_2s
    edns_bufsize: 4000

  pad:
    <<: *template_v4_2s
    edns_pad: 100

  kitchensink:
    <<: *kitchensink

  google_udp:  # make sure google public dns returns 13 NS records for . over UDP
    protocol: "udp"
    server: "dns.google"
    query_name: "."
    query_type: "NS"
    validate_answer_rrs:
      fail_if_count_ne: 13

  google_tcp:  # make sure google public dns returns 2 A records for dns.google over TCP
    protocol: "tcp"
    server: "dns.google"
    query_name: "dns.google"
    query_type: "A"
    validate_answer_rrs:
      fail_if_count_ne: 2
      fail_if_not_matches_regexp:
        - ".*8.8.8.8"
        - ".*8.8.4.4"

  google_dot:  # make sure google public dns returns the two expected AAAA records for dns.google over DoT
    protocol: "dot"
    server: "dns.google"
    query_name: "dns.google"
    query_type: "AAAA"
    validate_answer_rrs:
      fail_if_count_ne: 2
      fail_if_not_matches_regexp:
        - ".*2001:4860:4860::8888"
        - ".*2001:4860:4860::8844"

  cf_doh:  # make sure cloudflare public dns returns a DNSSEC validated response for bornhack.dk over DoH
    protocol: "doh"
    server: "1dot1dot1dot1.cloudflare-dns.com"
    query_name: "bornhack.dk"
    query_type: "NS"
    validate_response_flags:
      fail_if_any_absent:
        - "AD"

  has_ad:
    edns_do: true
    validate_response_flags:
      fail_if_any_absent:
        - "AD"

  has_no_ad:
    edns_do: true
    validate_response_flags:
      fail_if_any_present:
        - "AD"

  fail_recursive:
    validate_response_flags:
      fail_if_all_present:
        - "QR"
        - "RA"
        - "RD"

  fail_not_auth:
    validate_response_flags:
      fail_if_all_absent:
        - "AA"
        - "AD"

  fail_auth_k_root:
    validate_answer_rrs:
      fail_if_matches_regexp:
        - ".*k.root-servers.net"

  fail_additional_root:
    validate_additional_rrs:
      fail_if_all_match_regexp:
        - "[a-m].root-servers.net.*"

  fail_answer_root:
    validate_answer_rrs:
      fail_if_not_matches_regexp:
        - "[a-m].root-servers.net.*"

  fail_answer_root_none:
    validate_answer_rrs:
      fail_if_none_matches_regexp:
        - ".*[a-m].root-servers.net.*"

#  socks1080:
#    proxy: "socks5://127.0.0.1:1080"

# https://dns-exporter.readthedocs.io/latest/examples.html
modules:
  quad9_mx:
    query_type: "MX"
    server: "dns.quad9.net:53"
    family: "ipv4"
  gmail_mx_v4:
    query_type: "MX"
    query_name: "gmail.com"
    family: "ipv4"
  internalbind_a_v4:
    query_type: "A"
    family: "ipv4"
    server: "127.0.0.1:53"
