{{ ansible_managed | comment }}

[Unit]
Description=Nvidia GPU Exporter
After=network-online.target

[Service]
Type=simple
User={{ nvidia_gpu_exporter_system_user }}
Group={{ nvidia_gpu_exporter_system_group }}
ExecStart={{ nvidia_gpu_exporter_binary_install_dir }}/nvidia_gpu_exporter \
{% if nvidia_gpu_exporter_web_listen_address is iterable and
      nvidia_gpu_exporter_web_listen_address is not mapping and
      nvidia_gpu_exporter_web_listen_address is not string %}
{%   for address in nvidia_gpu_exporter_web_listen_address %}
    '--web.listen-address={{ address }}' \
{%   endfor %}
{% else %}
    '--web.listen-address={{ nvidia_gpu_exporter_web_listen_address }}' \
{% endif %}
    '--web.telemetry-path={{ nvidia_gpu_exporter_web_telemetry_path }}'

SyslogIdentifier=nvidia_gpu_exporter
Restart=always
RestartSec=1
StartLimitInterval=0

{% set ns = namespace(protect_home = 'yes') %}
{% for m in ansible_facts['mounts'] if m.mount.startswith('/home') %}
{%   set ns.protect_home = 'read-only' %}
{% endfor %}
ProtectHome={{ ns.protect_home }}
NoNewPrivileges=yes

{% if (ansible_facts.packages.systemd | first).version is version('232', '>=') %}
ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes
{% else %}
ProtectSystem=full
{% endif %}

[Install]
WantedBy=multi-user.target
