---

- name: Get PVE users
  ansible.builtin.command:
    cmd: pveum user list
  changed_when: false
  register: pve_user_list

- name: Ensure user prometheus@pve
  ansible.builtin.command:  # noqa no-changed-when
    cmd: "pveum user add prometheus@pve --comment 'prometheus user' --password \"{{ lookup('community.general.random_string', length=64, special=false) }}\""
  # changed_when: false
  when:
    - "'prometheus@pve' not in pve_user_list.stdout"
  no_log: "{{ pve_exporter_no_log }}"

- name: Get prometheus@pve user tokens
  ansible.builtin.command:
    cmd: pveum user token list prometheus@pve
  changed_when: false
  register: pve_usertoken_list

- name: Check if /etc/pve_exporter/pve_exporter.yml exists
  ansible.builtin.stat:
    path: /etc/pve_exporter/pve_exporter.yml
  register: pve_exporter_config

- name: Delete existing user prometheus@pve token if no pve_exporter.yml
  ansible.builtin.command:  # noqa no-changed-when
    cmd: "pveum user token delete prometheus@pve prometheus-pve-exporter-token"
  when:
    - not pve_exporter_config.stat.exists

- name: Create user token
  when: >
    ("'prometheus-pve-exporter-token' not in pve_usertoken_list.stdout") and
    not pve_exporter_config.stat.exists
  block:
    - name: Ensure user prometheus@pve has a token
      ansible.builtin.command:  # noqa no-changed-when
        cmd: "pveum user token add prometheus@pve prometheus-pve-exporter-token"
      register: pve_exporter_token
      # changed_when: false
      no_log: "{{ pve_exporter_no_log }}"
    - name: Ensure user and token have right acl
      ansible.builtin.command:  # noqa no-changed-when
        cmd: "{{ item }}"
      loop:
        - "pveum acl modify / -user 'prometheus@pve' -role PVEAuditor"
        - "pveum acl modify / -token 'prometheus@pve!prometheus-pve-exporter-token' -role PVEAuditor"
      # changed_when: false
    - name: Set facts for pve_exporter role
      ansible.builtin.set_fact:  # noqa no-changed-when
        pve_exporter_auth_token_name: "prometheus-pve-exporter-token"
        pve_exporter_auth_token_value: "{{ pve_exporter_token.stdout | regex_findall('value .* ([0-9a-f-]+) ', multiline=True, ignorecase=True) | first }}"
      no_log: "{{ pve_exporter_no_log }}"

- name: Get existing user token
  when:
    - "'prometheus-pve-exporter-token' in pve_usertoken_list.stdout"
    - pve_exporter_config.stat.exists
  block:
    - name: Get existing user token
      ansible.builtin.command:  # noqa no-changed-when
        cmd: "grep token_value /etc/pve_exporter/pve_exporter.yml"
      changed_when: false
      register: pve_exporter_existing_token
    - name: Set facts for pve_exporter role - existing token
      ansible.builtin.set_fact:  # noqa no-changed-when
        pve_exporter_auth_token_name: "prometheus-pve-exporter-token"
        pve_exporter_auth_token_value: "{{ pve_exporter_existing_token.stdout | regex_findall('token_value: ([0-9a-f-]+)', ignorecase=True) | first }}"
      no_log: "{{ pve_exporter_no_log }}"
