---
name: Ansible CI
on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
      - labeled
  workflow_dispatch:

concurrency:
  group: ansible-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  ANSIBLE_FORCE_COLOR: true
  ANSIBLE_GALAXY_SERVER_GALAXY_URL: "https://galaxy.ansible.com"
  ANSIBLE_GALAXY_SERVER_GALAXY_TIMEOUT: 120
  ANSIBLE_GALAXY_SERVER_LIST: "galaxy"

jobs:
  ansible-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Lint collection
        uses: ansible/ansible-lint@main

  arguments-spec-lint:
    runs-on: ubuntu-latest
    container:
      image: quay.io/prometheus/golang-builder:base
    steps:
      - uses: actions/checkout@v4
      - name: Lint arguments spec
        run: ./.github/scripts/lint_arguments_spec.sh

  discover-ansible-versions:
    runs-on: ubuntu-latest
    outputs:
      versions: ${{ steps.supported-ansible-versions.outputs.result }}
    steps:
      - uses: actions/checkout@v4

      - name: Get Ansible versions that the collection supports
        id: supported-ansible-versions
        run: |
          echo "result=$(python ./.github/scripts/collection_version_parser.py)" >> $GITHUB_OUTPUT

  ansible-test-sanity:
    uses: ./.github/workflows/ansible-test-sanity.yml
    needs:
      - ansible-lint
      - discover-ansible-versions
    with:
      ansible-core-versions: ${{ needs.discover-ansible-versions.outputs.versions }}

  discover-ansible-tests:
    runs-on: ubuntu-latest
    needs:
      - ansible-lint
    outputs:
      integration-tests: ${{ steps.set-integration-tests.outputs.tests }}
      ansible-roles: ${{ steps.set-ansible-roles.outputs.roles }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Discover ansible roles
        id: set-ansible-roles
        env:
          LABELS: ${{ toJson(github.event.pull_request.labels.*.name) }}
        run: |
          roles=$(echo $LABELS | jq -c '[.[] | select(startswith("roles/")) | ltrimstr("roles/")]')
          echo $roles
          echo "roles=$roles" >> $GITHUB_OUTPUT

      - name: Discover integration tests
        id: set-integration-tests
        run: |
          echo tests="[`for test in $(find tests/integration/targets -maxdepth 1 -mindepth 1 -type d -not -iname "molecule-*" -printf "%f\n"); do
            echo '{"test":\"'"${test}"'\","name":\"'"${test}\"'"}';
          done | tr '\n' ',' | sed '$s/,$//'`]" >> $GITHUB_OUTPUT

  molecule:
    uses: ./.github/workflows/ansible-test-molecule.yml
    needs:
      - discover-ansible-tests
      - discover-ansible-versions
    if: needs.discover-ansible-tests.outputs.ansible-roles != '[]' &&
        needs.discover-ansible-tests.outputs.ansible-roles != ''
    with:
      role: ${{ matrix.role }}
      ansible-core-versions: ${{ needs.discover-ansible-versions.outputs.versions }}
    strategy:
      fail-fast: false
      matrix:
        role: ${{ fromJson(needs.discover-ansible-tests.outputs.ansible-roles) }}

  ansible-test-integration:
    uses: ./.github/workflows/ansible-test-integration.yml
    needs:
      - discover-ansible-tests
      - discover-ansible-versions
    if:
      needs.discover-ansible-tests.outputs.integration-tests != '[]' &&
      needs.discover-ansible-tests.outputs.integration-tests != ''
    with:
      targets: ${{ needs.discover-ansible-tests.outputs.integration-tests }}
      ansible-core-versions: ${{ needs.discover-ansible-versions.outputs.versions }}
