---
name: Ansible Sanity Test
on:
  workflow_call:
    inputs:
      ansible-core-versions:
        required: false
        default: '["stable-2.14"]'
        type: string

jobs:
  ansible-test-sanity:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ansible-core-versions: ${{ fromJson(inputs.ansible-core-versions) }}

    name: "sanity-${{ matrix.ansible-core-versions }}"
    steps:
      - name: "Perform sanity test with ansible-test"
        uses: ansible-community/ansible-test-gh-action@d3a8ec7a59694e25e210fcd44738910149537f0e  # v1.17.0
        with:
          ansible-core-version: ${{ matrix.ansible-core-versions }}
          testing-type: sanity
          ansible-core-github-repository-slug: ${{ contains(fromJson('["stable-2.9", "stable-2.10", "stable-2.11"]'), matrix.ansible-core-versions) &&
                                               'ansible-community/eol-ansible' || 'ansible/ansible' }}
